<!DOCTYPE html>
<html lang="es">
<%- include('partials/headAdmin')  %>

    <body class="bg-white mb-5">
        <%- include('partials/headerAdmin') %>

            <section class="container bg-light mb-5 pb-5">
                <article class="box-center mb-5">

                    <div class=" text-center mb-5">
                        <hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
                        <h4>Cargar nueva pelicula</h4>
                        <hr class="mx-auto m-12 " size="5 " noshade="noshade " width="100% " />
                    </div>

                    <form action="/movies" method="POST" enctype="multipart/form-data" class="container mb-5">
                        <div class=" bg-white mb-5 border border-1 pt-5">
                            <div class="row mx-auto mb-5 ">

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3" type="text" placeholder="Nombre" name="title">
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Genero" name="genre">
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3" type="text" placeholder="Precio" name="price">
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3 " type="text" placeholder="Edad" name="category">
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3" type="text" placeholder="Duracion" name="length">
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3" type="text" placeholder="Trailer" name="trailer">
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <input class="form-control mb-3" type="text" placeholder="Pelicula" name="movie">
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  ">
                                    <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                                        <input type="file" id="nomFirs" class="input-file form-control mb-3" type="file" value="" name="img-movie"> Subir foto
                                    </div>

                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  mb-5">
                                    <textarea class="form-control" rows="3" name="description"></textarea>
                                </div>

                                <div class=" mx-auto col-sm-10 col-md-9 col-lg-8 col-xl-6  mb-5">
                                    <button class="btn btn-primary s" type="submit">Guardar</button>
                                </div>
                            </div>

                        </div>
                    </form>


                </article>
            </section>

            <%- include('partials/scriptsAdmin')  %>
    </body>

</html>