<!DOCTYPE html>
<html lang="en">

<%- include('partials/headAdmin')  %>

    <body>
        <%- include('partials/headerAdmin')  %>
            <div class="container w-100">
                <div class="row">
                    <div class=" col-12">
                        <h1>Index admin</h1>
                    </div>
                </div>
            </div>

            <%- include('partials/scriptsAdmin')  %>
                <%- include('partials/footerAdmin')  %>

    </body>

</html>