.movies-section{
    margin-bottom: 12rem;
}

.movies-grid{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
}

.movie-container img{
    width: 100%;
}

.movies-section h2{
    color: #fa8e00;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;    
}

a .movie-title{
    margin: 2rem;
    color: coral;
    border: 0.5px solid coral;
    border-radius: 15px;
    padding: 0.5em;
}

a div.movie-title h4{
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}