/* SECCIONES DETALLE*/
.detalleProducto{
    margin: 20px 0;
    padding: 0;
    background-color: black;
}

div.imgPro{
    padding: 0;
}

section div.compra{
    margin: auto;
    text-align: center;
    padding: 5px;
}

section .compra i{
    margin: 2px;
    color: white;
    background-color:black;
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
    font-size: 30px;
}

section .compra h2.valor{
    font-size: 35px;
    margin-top: 40px;
    color: white;
}

section .compra h2.boton{
    padding: 5px;
    margin: 30px auto 0;
    color: white;
    background-color: rgb(64, 129, 226);
    font-weight:bold;
    border-radius: 10px;
}


/* TRAILER*/

section.row.container-fluid.trailer{
    margin: 20px 0;
    padding: 0;
}

.trailer a{
    padding: 0;
}

/* CUERPO */

section.row.container-fluid.descripcion{
    margin: 0;
    padding: 0;
    color: white;
}

.descripcion h1{
    margin: auto;
    text-align: center;
    padding: 5px 0 10px;
    background: linear-gradient(rgb(36, 36, 36), #000000);
    border: white solid 1px;
    font-size: 40px;
    color: rgb(209,209,209);
}

.descripcion .sumario{
    margin: 0;
    padding: 0;
    color: black;
    background: linear-gradient(#6b687a, #444059);
}

.descripcion .sumario h2{
    font-size: 20px;
    padding: 10px auto;
}

.descripcion .sumario p{
    color: rgb(138, 20, 20);
    font-size: 20px;
}


.descripcion .sumario .argumento p{
    color: black;
    background: linear-gradient(#676767, #615f6a, #45415a);
    padding: 10px;
    text-align:justify;
}

@media (min-width: 1024px){

    /* SECCIONES DETALLE */
    .detalleProducto{
        float:right;
        margin-top: 50px;
        padding: 20px;
        padding-bottom: 100px;
        background-color:unset;

    }

    section div.compra{
        position: relative;
    }

    section .compra .log{
        margin-top: 80px;        
        padding-left: 20px;
    }

    section .compra h2.valor{
        margin-top: 30px;
        font-size: 186%;
        text-align: center;
        padding: 2px;  
        color: rgb(184, 150, 39);
    }
    
    section .valor{
        position: absolute;
        top: 0;
    }

    section .compra .boton{
        width: 200%;
        position: absolute;
        bottom: -110px;
        right: 45px;
    }




    /* TRAILER*/

    section.row.container-fluid.trailer{
        height: 300px;    
    }

    .trailer a iframe{
        width: 100%;
        height: 100%;
    }


/* CUERPO */


    section.row.container-fluid.descripcion{
        position: relative;
    }

    .descripcion h1{
        position: absolute;
        top: -440px;
        width: 29.33333333333333%;
        right: 0;
        padding: 10px 0 10px;
        margin-right: 20px;
    }

    .descripcion .sumario{
        background: linear-gradient(#646469, #ffffff);
        position: relative;
    }

    .descripcion .sumario .argumento p{
        background: unset;
        padding: 10px;
        text-align:justify;
    }
        

}