/* GENERALES */
a{
    text-decoration: none;
}

.fondo-principal{
    background: #000000;
    background: -webkit-radial-gradient(center, #000000, #48545A);
    background: -moz-radial-gradient(center, #000000, #48545A);
    background: radial-gradient(ellipse at center, #000000, #48545A);
}

/* HEADER */
.navbar-negro{
    background-color: #000000;
}

.search{
    width: 35%;
}

.iconosNavbar{
    color: rgba(255,255,255,.55);;
    font-size: 2rem;
}

.iconosNavbar:hover{
    color: rgba(255,255,255,.75);
}

header{
    background-color: black;
    padding: 10px;
    width: 100%;
   
}

.logo {
    display: flex;
    flex-flow: wrap;
    justify-content: center;    
}

.logo img{
    padding-bottom: 1rem;
}

.search form{    
    height: fit-content;
}

/* BANNER */
.banner{
    margin: 3rem 3rem 5rem 3rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner .carousel-principal{
    width: 900px;
}

.banner img{
    width: 100%;
}


/* SECCIONES HOME */

.seccion-peliculas{
    margin-bottom: 12rem;
}

.grilla-peliculas{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-pelicula{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin-left: 30px;
}

.contenedor-pelicula img{
    width: 100%;
}

.seccion-peliculas h2{
    color: #fa8e00;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;    
}

.titulo-pelicula{
    margin: 2rem;
    color: coral;
    border: 0.5px solid coral;
    border-radius: 15px;
    padding: 0.5em;
}


/* FOOTER */

footer{
    display: flex;
    align-items: flex-end;
}

footer .navbar-negro{
}

footer .ka{
    font-size: 40px;
    padding-inline-start: 0px;
}

footer li h6{
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 14px;
}

footer .sug{
    display: none;
}

footer .ay{
    display: none;
    font-size: 40px;
    padding-inline-start: 0px;
}

footer .link{    
    padding-left: 0px;
}

footer div div ul a{
    margin: auto;
    display: none;
}

footer .se{
    display: none;
    font-size: 40px;
    padding-inline-start: 0px;
}

footer ul li{
    border-top: solid white 2px;
    padding-top: 30px;
    margin-top: 20px;
    margin: 0 65px;
    padding-left: 5px;
    padding-right: 5px;
}


  
@media (min-width: 1024px){

 
  
    footer .ka{
        font-size: 40px;
        padding-inline-start: 0px;
    }

    footer .ay{
        display: block;
    }

    footer div div ul a{
        display: block;
        color: rgb(0, 0, 0);
        background-color: rgb(64, 129, 226);
        border: rgb(112, 20, 20);
        border-radius: 20px;
        width: 80px;
    }

    footer .sug{
        display: block;
    }

    footer .se{
        display: block;
    }

    footer ul li{
        border-top: none;
        padding-top: 10px;
        margin-top: 0px;
        margin: 0 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

    footer .link{
        width: 30%;
        margin: auto;
    }

}
    
    
    
    
    
    
  
  
  
  
  
  
  
  