section.background {
    height: 750px;
    padding: 20px 0px 0px 0px;
}

article.box-center {
    height: 700px;
    background: #E5EBF3;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 2%;
}

.boton-top-one {
    margin: 10px 0px 0px 0px;
}

.boton-top-two {
    margin: 10px 0px 0px 0px;
}

.img-logo-person {
    width: 100px;
}

.image-carga-product {
    width: 300px;
}

.titulo-editar-peliculas {
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.titulo-foto {
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.avatar-container img {
    height: 30%;
}