/* body {
    background-color: black;
    background: linear-gradient(180deg, #212121 0%, rgba(0, 0, 0, 0.69) 0.01%, rgba(196, 196, 196, 0) 33.33%, #E5EBF3 53.65%, #E5EBF3 77.08%);
} */

section.background {
    height: 700px;
    padding: 20px 0px 0px 0px;
}

article.box-center {
    height: 600px;
    background: #E5EBF3;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 2%;
}

.boton-top-one {
    margin: 10px 0px 0px 0px;
}

.boton-top-two {
    margin: 10px 0px 0px 0px;
}

.img-logo-person {
    width: 100px;
}

.image-carga-product {
    width: 300px;
}