<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar</title>
</head>

<body>
    <div class="container">
        <form action="/admin/users/store" method="POST">
            <h3>Agregar</h3>
            <div class="row">
                <input type="text" class="form-control" id="nomFirs" placeholder=" nombre" name="nombre">
                <label for="nomFirs">nombre</label>
            </div>
            <div class="row">
                <input type="text" class="form-control" id="nomFirs" placeholder=" apellido" name="apellido">
                <label for="nomSecond">apellido</label>
            </div>
            <div class="row">
                <input type="text" class="form-control" id="nomFirs" placeholder=" correo" name="correo">
                <label for="main">correo</label>
            </div>
            <div class="row">
                <input type="text" class="form-control" id="nomFirs" placeholder=" contraseña" name="contraseña">
                <label for="pas">contraseña</label>
            </div>
            <div class="row">
                <input type="text" class="form-control" id="nomFirs" placeholder=" rol" name="rol">
                <label for="rol">rol</label>
            </div>
            <div class="row">
                <input type="text" class="form-control" id="nomFirs" placeholder=" img" name="img">
                <label for="image">img</label>
            </div>
            <div class="row">
                <button class="btn" type="submit">Guardar</button>
            </div>
        </form>
    </div>

</body>

</html>