<!DOCTYPE html>
<html lang="en">

<%- include('partials/headAdmin')  %>

    <body>
        <%- include('partials/headerAdmin')  %>
            <section class="container bg-light pb-5">


                <div class=" text-center ">
                    <hr class="mx-auto m-12" size="5" noshade="noshade" width="100%" />
                    <h4>
                        <%= userAdmin.firstName + " " + userAdmin.lastName  %>
                    </h4>
                    <hr class="mx-auto m-12 " size="5 " noshade="noshade " width="90% " />
                </div>


                <div class=" bg-white border border-1">
                    <div class="card-body border border-1">
                        <img src="/images/logo-person.png " class=" img-logo-person img-fluid m-3 rounded mx-auto d-block " alt="logo " width="150px">

                        <div class="bg-light mx-auto">
                            <p class=" col-12 text-center">
                                <b>Vista de admin, todos los cambios que se realicen seran bajo su responsablidad,</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam suscipit accusantium veritatis atque nisi rem aliquid labore esse
                                consequatur sit, rerum error totam cum alias repellat, dolores repudiandae optio. Reiciendis unde, doloremque assumenda sequi, natus labore, quasi distinctio porro perspiciatis eaque ullam harum modi dicta aspernatur veniam
                                sit quaerat nostrum consectetur magnam ab officia id recusandae atque quos. Vero. Esse qui, odio veniam et, officiis saepe ex sunt perferendis maiores nam voluptates ducimus voluptas animi alias, quod exercitationem! Nisi
                                amet modi cupiditate impedit odio! Iure, corrupti? Accusantium, impedit aliquid. Accusantium nam,
                            </p>
                        </div>

                    </div>

                </div>



            </section>
            <%- include('partials/scriptsAdmin')  %>


    </body>

</html>