<header>
    <nav class="container">
        <div class="row">
            <img class="col-4" src="/images/kairak-logo.svg" alt="logo" width="30%">
            <div class="col-3 ">
                <li class="nav-item ">
                    <a class="nav-link dropdown-toggle dropdown btn bg-warning" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Control de Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/admin//users/list">Listar Users</a></li>
                    </ul>
                </li>


            </div>
            <div class="col-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown btn bg-warning" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Control de Peliculas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="/movies">Listar peliculas</a></li>
                        <li><a class="dropdown-item" href="/movies/create">Carcar pelicula</a></li>

                    </ul>
                </li>
            </div>
            <div class="col-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown btn bg-warning" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ADMIN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="/admin/index">Vista Admin</a></li>
                        <li><a class="dropdown-item" href="/">Vista Usuario</a></li>

                    </ul>
                </li>
            </div>
        </div>
    </nav>
</header>