<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %>

    <body>
        <%- include('partials/header') %>

            <section class="container background">
                <article class="box-center">

                    <div class="container">
                        <div class="row mx-auto ">
                            <div class="btn-group">

                                <div class="col-xl-2"></div>
                                <a href="" class="boton-top-one btn btn-outline-white btn-primary col-6 disabled">Cargar</a>
                                <a href="" class="boton-top-two btn  btn-outline-primary btn-white col-6  ">Borrar</a>
                                <div class="col-xl-2 "></div>
                            </div>
                        </div>
                    </div>
                    <div class="line-top ">
                        <hr class="mx-auto m-12 " size="5 " noshade="noshade " width="90% " />
                    </div>
                    <div class="container">
                        <div class="row mx-auto mb-3">
                            <div class="col-6 mx-auto">
                                <div class=" container">
                                    <img src="/images/portada.jpg " class=" image-carga-product img-fluid mx-auto d-block " alt="logo ">
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Nombre">
                                    <input class="form-control mb-3 form-control-sm " type="text" placeholder="Genero ">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Precio">
                                    <input class="form-control mb-3 form-control-sm " type="text" placeholder="Edad ">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Trailer">
                                    <input class="form-control mb-3 form-control-sm " type="text" placeholder="Año ">
                                </div>


                            </div>
                        </div>
                        <div class="row mx-auto mb-3">
                            <div class=" col-10 mx-auto">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row mx-auto ">
                            <div class="col-6 col-xl-4 mx-auto ">
                                <input class=" col-12 btn btn-primary " type="submit " value="Cargar">
                            </div>
                        </div>
                    </div>

                </article>
            </section>

            <%- include('partials/footer') %>
                <%- include('partials/scripts')  %>
    </body>

</html>