<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %>

    <body>
        <%- include('partials/header')  %>

            <section class="container background">
                <article class="box-center">

                    <div class="container">
                        <div class="row mx-auto ">
                            <div class="btn-group">

                                <div class="col-xl-2"></div>
                                <a href="" class="boton-top-two btn btn-outline-white btn-primary col-6 disabled">Carrito</a>
                                <a href="" class="boton-top-one btn btn-outline-primary btn-white col-6 ">Favoritas</a>
                                <div class="col-xl-2 "></div>
                            </div>
                        </div>
                    </div>
                    <div class="line-top ">
                        <hr class="mx-auto m-12 " size="5 " noshade="noshade " width="90% " />
                    </div>

                    <div class="container mb-5">
                        <div class="row">
                            <div class="col-6">
                                <div class=" container">
                                    <div class="row">
                                        <img src="/images/portada.jpg " class=" image-carga-product img-fluid mx-auto d-block " alt="logo ">

                                        <div class="col-8">
                                            <input class=" col-3 form-control mb-3" type="text" placeholder="Precio" disabled>
                                        </div>
                                        <div class="col-2">
                                            <button type="button" class="btn btn-primary">BOR</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <input class="form-control mb-3" type="text" placeholder="Nombre" disabled>
                                <textarea class="form-control" rows="8" disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row mx-auto ">
                            <div class="col-6 col-xl-4 mx-auto ">
                                <input class=" col-3 form-control mb-3" type="text" placeholder="Precio" disabled>
                            </div>
                            <div class="col-6 col-xl-4 mx-auto ">
                                <input class=" col-12 btn btn-primary " type="submit " value="Comprar">
                            </div>

                        </div>
                    </div>


                </article>
            </section>

            <%- include('partials/scripts')  %>

                <%- include('partials/footer')  %>
    </body>

</html>