<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')  %>

    <body class="bg-dark">
        <%- include('partials/header') %>

            <section class="container background">
                <article class="box-center">

                    <div class="container">
                        <div class="row mx-auto ">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="line-top ">
                        <h1 class=" titulo-editar-peliculas mx-auto col-6 bg-dark text-white mt-3 fs-2 "> Editar peliculas</h1>
                        <hr class="mx-auto m-12 " size="5 " noshade="noshade " width="90% " />
                    </div>
                    <div class="container  mb-3">
                        <div class="row mx-auto">
                            <div class="col-6  mx-auto container ">
                                <h2 class=" titulo-foto mx-auto bg-dark text-white mt-1 col-10">Foto</h2>
                                <img src="/images/portada.jpg " class=" image-carga-product img-fluid mx-auto d-block " alt="logo ">

                            </div>
                            <div class="col-6 mb-3">
                                <form action="/movies" method="POST" enctype="multipart/form-data" class="row">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Nombre" name="title">
                                    <input class="form-control mb-3 form-control-sm " type="text" placeholder="Genero" name="genre">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Precio" name="price">
                                    <input class="form-control mb-3 form-control-sm " type="text" placeholder="Edad" name="category">
                                    <input class="form-control mb-3 form-control-sm " type="text" placeholder="Año" name="year">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Duracion" name="length">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Trailer" name="trailer">
                                    <input class="form-control mb-3 form-control-sm" type="text" placeholder="Pelicula" name="movie">
                                    <input class="form-control mb-3 form-control-sm" type="file" name="img-movie">
                                    <textarea class="form-control" rows="3" name="description"></textarea>
                                    <div class="container">
                                        <div class="row mx-auto ">
                                            <div class="col-6 col-xl-4 mx-auto ">

                                                <button class="btn btn-primary" type="submit">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </article>
            </section>

            <%- include('partials/footer') %>
                <%- include('partials/scripts')  %>
    </body>

</html>