<section class="banner">
    <div class="content-all">
        <div class="content-carrusel">
            <figura><a href="/"><img  src="images/films/img1.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img2.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img3.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img4.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img5.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img6.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img7.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img8.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img9.jpg"></a></figura>
            <figura><a href="/"><img src="images/films/img10.jpg"></a></figura>
        </div>
    </div>
</section>