<!-- Footer -->

<footer class="navbar-negro text-white pt-4 pb-2 pt-lg-1">
    <div class="row container-fluid">
        <div class="col-12 text-center col-lg-4">
            <ul class="ka col-12">Kairak</ul>
            <h6 class="col-12">Proyecto creado por alumnos de<br>Fundación Formar + Digital House</h6>
        </div>

<!-- AYUDA -->

        <div class="col-12 text-center col-lg-4">
            <ul class="ay">Ayuda</ul>
            <h6 class="sug">Si tenés sugerencias o comentarios.<br>No dudes en contactarnos</h6>
            <ul class="linkAyuda"><a href="">Ayuda</a></ul> <!-- COLOCAR LINK DE AYUDA -->
        </div>

<!-- REDES SOCIALES -->

        <ul class="col-12 text-center col-lg-4">
            <ul class="se">Seguinos</ul>
            <li class="redes d-flex justify-content-between">
                <a href="#" class="text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="text-reset">
                    <i class="fab fa-twitter"></i>
            </li>
        </ul>
    </div>
</footer>