<!-- Footer -->

<footer class="navbar-negro text-white pt-4 pb-2 pt-lg-1">
    <div class="row container-fluid">
        <div class="col-12 text-center col-lg-4">
            <ul class="ka">Kairak</ul>
            <h6>Proyecto creado por alumnos de<br>Fundación Formar + Digital House</h6>
        </div>

<!-- AYUDA -->

        <div class="col-12 text-center col-lg-4">
            <ul class="ay">Ayuda</ul>
            <h6 class="sug">Si tenés sugerencias o comentarios.<br>No dudes en contactarnos</h6>
            <ul class="link"><a href="http://localhost:3300/">Ayuda</a></ul> <!-- COLOCAR LINK DE AYUDA -->
        </div>

<!-- REDES SOCIALES -->

        <ul class="col-12 text-center col-lg-4">
            <ul class="se">Seguinos</ul>
            <li class="d-flex justify-content-between">
                <a href="#" class="text-reset">
                    <img src="/images/Facebook.png" alt="" width="65">
                </a>
                <a href="#" class="text-reset">
                    <img src="/images/Instagram.png" alt="" width="65">
                </a>
                <a href="#" class="text-reset">
                    <img src="/images/Twitter.png" alt="" width="65">
            </li>
        </ul>
    </div>
</footer>